# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\OUSL-Security\spring-boot-spring-security-jwt-authentication-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
